<h2>クイズ管理</h2>

<form method="post">
    <input name="question" placeholder="問題文"><br>
    <select name="answer">
        <option value="True">○</option>
        <option value="False">×</option>
    </select><br>
    <textarea name="explanation" placeholder="解説"></textarea><br>
    <button type="submit">追加</button>
</form>

<h3>登録済みの問題</h3>
<ul>
    {% for q in questions %}
    <li>
        {{ q.question }} [{{ "◯" if q.answer else "×" }}]
        <a href="{{ url_for('delete', qid=q.id) }}">削除</a>
    </li>
    {% endfor %}
</ul>
<a href="{{ url_for('admin_logout') }}"><button>ログアウト</button></a>