<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>クイズ問題</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="screen-container">
        <div class="question-area">
            <p class="question-text preformatted">Q. {{ q.question }}</p>
        </div>
        <div class="button-area">
            <form method="post" action="{{ url_for('answer') }}" class="button-group">
            <button type="submit" name="answer" value="True" class="circle-button">◯</button>
            <button type="submit" name="answer" value="False" class="cross-button">×</button>
            </form>

        </div>
    </div>
</body>
</html>